* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(214, 231, 219, 0.8);
}

.contenedor_acceso{
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.acceso{
    margin: auto;
    width: 400px;
    background-color: #FFFFFF;
    padding: 2rem 2rem 1rem 2rem;
    box-shadow: 5px 5px 10px 0px #212121;
    border-radius: 25px 25px 25px 25px;
}

.botones > button{
    width:49%;
    padding: 0.7rem;
    background-color:#055456;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12pt;
    text-shadow: 2px 2px #0a2392;
    margin-bottom: 1rem;
}
    
    .iniciar{
        display: grid;
    }
        .acceso h3{
            color: #3a3a3a;
        }
        .acceso label {
            margin: 0.7rem 0 0.2rem 0.1rem;
        }
        .acceso input {
            background-color: rgb(250, 250, 250);
            border-radius: 4px;
            padding: 5px;
        }
        input{
            border: 1px solid #140088;
        }
        .acceso input + button {
            padding: 0.7rem;
            background-color:#055456;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 12pt;
            text-shadow: 1px 1px #0a2392;
            margin: 1.5rem 0 1rem 0;
        }

    .registrarse{
        display: none;
    }